.fixtures-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fixture-card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0px 21px;
    background-color: white;
    border: 1px solid black;
    height: 2.3rem;
}

.fixture-card:hover {
    transform: translateY(-2px);
    background-color: yellow;
    cursor: pointer;
}

.fixture-team {
    font-weight: 600;
}

.fixture-team:last-child {
    text-align: right;
}

.fixture-score {
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
}


.fixtures-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;
    margin: 0px 6%;
}

.matchday-group {
    width: 100%;
    max-width: 450px;
    justify-self: start;
    padding: 15px;
    background-color: #225696;
    border: 2px solid black;
    border-radius: 10px;
}

.matchday-title{
    color: #f6f6ea;
}

.date-title {
    color: #f6f6ea;
    margin: 10px 0;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}