

.container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 30px;
}




.table {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.maintable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.maintable thead {
    background-color: #225696;
    color: white;
}

.maintable th {
    padding: 14px 20px;
    text-align: center;
    font-weight: 600;
}

.maintable td {
    padding: 12px 20px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid;
}


/* Rimuovi il bordo destro sull'ultima colonna (combacia col wrapper) */
.maintable td:last-child,
.maintable th:last-child {
    border-right: none;
}

/* Rimuovi il bordo inferiore sull'ultima riga (combacia col wrapper) */
.maintable tbody tr:last-child td {
    border-bottom: none;
}

.maintable tbody tr:hover {
    background-color: yellow;
}


.score {
    font-weight: bold;
    font-size: 16px;
}



.filter {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}


.filter p {
    margin: 0 0 5px 0;
    height: 20px;
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 0.6px black;
    font-size: 23px;
}

.filter select,
.filter input {
    height: 40px;
    box-sizing: border-box;
}

